.ship-storage {
  width: 100%;
}
.ship-storage table {
  color: var(--white);
}

.ship-storage tbody td:not(:first-child),
.ship-storage th:not(:first-child) {
  text-align: right;
}

.ship-storage tbody span {
  margin-bottom: 0.8rem;
  display: block;
}

.ship-storage tbody p {
  color: var(--gray);
}
