.ship-storage {
  width: 100%;
}
.ship-storage table {
  color: var(--white);
}

.ship-storage tbody td:not(:first-child),
.ship-storage th:not(:first-child) {
  text-align: right;
}

.ship-storage tbody span {
  margin-bottom: 0.8rem;
  display: block;
}

.ship-storage tbody p {
  color: var(--gray);
}

.sell-btn {
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  background: linear-gradient(94deg, var(--cream) -1.06%, var(--lavender) 100%);
  border: none;
  color: var(--black);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-16px-1rem);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.sell-btn:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  left: -50%;
  opacity: 0;
  filter: blur(5px);
  transition: all 0.8s ease-in-out;
}

.sell-btn:hover::before {
  left: 150%;
  opacity: 1;
}

.quantity-input {
  padding: 0.5rem 1rem;
  border: 1px solid var(--gray);
  border-radius: 0.75rem;
  margin-left: 0.5rem;
  font-size: var(--font-16px-1rem);
  background-color: var(--black);
  color: var(--white);

  &::placeholder {
    color: var(--gray);
  }
}
