@import "vendors/reset.css";
@import "global/font.css";

* {
  box-sizing: border-box;
  font-size: 100%;
}

:root {
  /* Colors var*
  /
  /* Sizes var*/
  --font-10px-0_625rem: 0.625rem;
  --font-12px-0_75rem: 0.75rem;
  --font-14px-0_875rem: 0.875rem;
  --font-16px-1rem: 1rem;
  --font-20px-1_25rem: 1.25rem;
  --font-24px-1_5rem: 1.5rem;
  --font-32px-2rem: 2rem;
  --font-48px-3rem: 3rem;
  --font-64px-4rem: 4rem;
  --font-96px-6rem: 6rem;
  --font-128px-8rem: 8rem;
  --font-weight-regular: 400;
  --font-weight-mediulm: 500;
  --font-weight-semibod: 600;
  --font-weight-bold: 700;
}

html,
button,
a,
input::placeholder {
}

body {
  min-width: 320px;
  overflow-x: hidden !important;
}

img {
  max-width: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}
